*.o
*.val
epos
epos2ages
*.aux
*.log
*.ps
*.dvi
*.bbl
*.blg
*.a
*.org
doc/*.pdf
doc/*.sh
doc/version.tex
.gitignore
doc/date.tex
randomSeed.dat
seedms
build
scripts/genTestEpos.sh

doc/yriNoSi.eps
doc/yriNoSi.tex
doc/yriSi.tex
doc/yriSi.eps
doc/con.eps
doc/fig2e.eps
doc/kap.eps
doc/fig2b.eps
